body{
    font-weight: bold;
    display: block;
}
form{
    display: block;
}
.mainContainer{
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    /* background: blue; */
    display: block;
    padding: 25px;
    /* border: 0.05em solid red; */
}
.con{
    /* background-color: red; */
    width: 500px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border: none;
    outline: none;
    margin-left:30px;
    margin-right: 25px;
    
}
.text {
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  margin-top: 20px;

  }
.ContainerTextbox{
  /* border: 0.05em solid red; */
  width:100%;
  display: flex;
  justify-content: center;
}
.checkboxes{
  /* border: 0.05em solid red; */
  width:100%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border: none;
  outline: none;
}
.containerCheckboxes{
  margin-top: 50px;
  /* border: 0.05em solid red; */
  width:100%;


}
.btn{
  /* border: 0.05em solid red; */
  width:100%;
  display: flex;
  justify-content: center;
}

.display{
  /* border: 0.05em solid red; */
  width: auto;
  height: 200px;
}
.button {
    margin-top: 20px;
    position: relative;
    background-color: grey;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
  }
.textbox .text::placeholder {
    /* position: absolute; */
    top: 0;
    left: 0;
  }
  /*  */